---
---

<div class="nav-links">
  <a href="/astro-fast-fontend-2.github.io/">Home</a>
  <a href="/astro-fast-fontend-2.github.io/about/">About</a>
  <a href="/astro-fast-fontend-2.github.io/blog/">Blog</a>
  <a href="/astro-fast-fontend-2.github.io/tags/">Tags</a>
</div>
